body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.navigationBar{
    text-align: center;
    background-color: black;
    display: grid;
    
}

#pic{
    left:0;
}

.navigationBar ol{
    display: inline-grid;
    grid-template-columns: repeat(autofit, 100px [col-start]);
    margin: 0;
    
}

#li-Logo-Drivine{
    left: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

#NB-B1 {
    grid-column-start: 1;
    margin-top: 30px;
    
}

#NB-B2{
    grid-column-start: 2;
}

#NB-B3{
    grid-column-start: 3;
}

#NB-B2, #NB-B3, #NB-B4{
    margin-top: 30px;
}

#navBar-HLine{
    margin:0;
}

.navigationBar li{
    display: inline; 
    
    
}

.navigationBar a {
    text-decoration: none;
    padding: 15px;
    color: #dee2e6;
    font-size: 1.1em;
    text-transform: uppercase;
    
  
}

.navigationBar a:hover {
    text-shadow: 2px 3px 2px #ADB6CE;
       
}

#navBar-HLine{
    
}

#LC-500-indexHeader{
    width: 100%;
    height: auto;
    
}

#headerIntro{
    color: white;;
    text-align: center;
    font-size: 1.3em;
}

#drivineName{
    font-size: 1.2em;
    text-transform: uppercase;
    
}

#indexQuickSelection{
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.footerBar{
    height: 25px;
    text-align: center;
    font-weight: bolder;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    bottom: 0; 
}

/*===DESIGNING THE MODAL===*/
/*==Learnt a lot from W3Schools*/

.formContainer{
    margin: auto;
    width: 75%;
}

#loginModalForm{
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 35%;
    right: 50%;
    top: 35%;
    width: 30%; 
    height: 20%;
    overflow: auto; 
    background-color: rgba(255,255,255,0.4); 
    border-radius: 15px;
    
}

.insideModalForm{
    margin-top: 45px;
    text-align: center;
    color: white;
    
}

#createAnAccount{
    color: bisque;
}

.displayName{
    color: white;
    font-size: large;
}