.containerIndexItems{
    margin: auto;
    width: 60%;
}

.whatWeOfferSection{
    text-align: center;
    margin: 0;
    display: inline-grid;
    grid-column-gap: 30px;
    border: 5px solid white;
    grid-template-columns: repeat(3, 350px [col-start]);
    grid-template-rows: repeat(2, 150px [col-start]);
    
}

.whatWeOfferSection img{
    margin-top: 10px;
}

#selection-supercar-1{
    grid-column-start: 1;
    grid-column-end: 1;
    width: 350px;
    height: auto;
}

#selection-supercar-2{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 350px;
    height: auto;
}

#selection-supercar-3{
    grid-column-start: 3;
    grid-column-end: 3;
    width: 350px;
    height: auto;
}

#selection-desc{
  color: white;
    
}