body{
    
}

.orderTable, tr, th, td{
    color: white;
    width: 90%;
    border: 1px white solid;
}

.lowSubTotal{
    color: red;
}

.medSubTotal{
    color: orange;
}

.highSubTotal{
    color: lightgreen;
}