body{
  
}

.whiteBG{
    background-color: white;
}

.whiteBG img{
    opacity: 0.3;
}

.blackBG{
    background-color: black;
}

.container{
    width: auto;
    height: auto;
    margin: 5%;
    
}

.orderTable, tr, th, td{
    color: white;
    width: 90%;
    border: 1px black solid;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}

.lowSubTotal{
    color: red;
}

.medSubTotal{
    color: orange;
}

.highSubTotal{
    color: green;
}

.cheatSheetButton{
    background-color: gold;
    border-radius: 3px;
    padding: 4px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.containerBtn{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 100px;
    width: 600px;
}