.AccountFormDesign{
    background-color: whitesmoke;
    width: auto;
    height: auto;
    margin: auto;
    width: 40%;
    text-align: center;
    border-radius: 25px;
    
    
}

#headerForm{
    text-align: center;
    text-transform: uppercase;
}

.infoForms {
    display: grid;
    grid-template-columns: 150px auto;
    row-gap: 25px;
    margin-top: 50px;
    display: inline-grid;
    
}

.infoForms input{
    grid-column-start: 2;
    height: auto;
    width: 100%;
}

.infoForms label{
    grid-column-start: 1;
    font-weight: bolder;
}

#headerForm{
    color: white;
}

.errorMessage{
    color: red;
}

#notifyPurchase{
    color: gold;
    text-align: center;
    font-size: 30px;
}

#urgent{
    color: red;
    grid-column-start: 3;
    font-weight: bolder;
}

#notSignedIn{
    color: white;
    text-align: center;
}

.generated-purchases-table{
    color: black;
    font-weight: 600;
}

.generated-purchases-table, tr, th, td{
    color: white;
    width: 100%;
    border: 1px black solid;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}