.buyingFormDesign{
    background-color: whitesmoke;
    width: auto;
    height: auto;
    margin: auto;
    width: 40%;
    text-align: center;
    border-radius: 25px;
    
    
}

#headerForm{
    text-align: center;
    text-transform: uppercase;
}

.buyingForms {
    display: grid;
    grid-template-columns: 150px auto;
    row-gap: 25px;
    margin-top: 50px;
    display: inline-grid;
    
}

.buyingForms input{
    grid-column-start: 2;
    height: auto;
    width: 100%;
}

.buyingForms label{
    grid-column-start: 1;
    font-weight: bolder;
}

#headerForm{
    color: white;
}

.errorMessage{
    color: red;
}

#notifyPurchase{
    color: gold;
    text-align: center;
    font-size: 30px;
}

#urgent{
    color: red;
}

#notSignedIn{
    color: white;
    text-align: center;
}

#notifySignUp{
    color: white;
    text-align: center;
}

#notifyLoggedIn{
    color: red;
    text-align: center;
}